.button_town_img {
    background-image: url('project://database/Assets/Sprites/Town/Castle%20Town/Picto/itptcas3.png?fileID=2800000&guid=299e1b4991f4c1142b7c33b949260327&type=3#itptcas3');
    -unity-background-scale-mode: scale-and-crop;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
}

.button_town {
    height: 90px;
}
